.barra-superior{
  min-height: 4rem;
}
div[class*="columna"]{
  min-height: 50rem;
}
div[class*="bloque"]{
  height: 25rem;
  padding: 0px !important;
}

.new{
  min-height: 7rem;
}

.publi{
  min-height: 17rem;
}

.logo{
  float: left;
  width: 10%;
  height: 10%;
  margin-top: 0.5rem;
}

.noti{
  min-height: 50rem;
  margin-top: 1rem;
}

.img-noti{
  border: 0.6rem solid #ff8f00;
  border-radius: 5px;
}

.buscar-campo{
  float: left;
  margin-left: 1rem;
  margin-top: 0.5rem;
  width: 70%;
}

.cont-botones{
  float: right;
  margin-top: 1rem;
}

.titulo{
  color: red;
}

#publicacion{
  color: red;
  background-color: white;
}

@media (max-width: 600px) {
  .columna-grupos{
    padding: 0 !important;
  }
}
